# **660710726 พิจิตรา ขุนน้อย**

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("student.csv")

Bad pipe message: %s [b'"Not;A=Brand";v="99", "Microsoft Edge";v="139", "Chromium']
Bad pipe message: %s [b'v="139"\r\nsec-ch-ua-mobile: ?0\r\nse', b'ch-ua-platform: "Windows"\r\nUpgrade-Insecure-Requests: 1\r\nUser-Agent: Mozilla/5.0 (Windows NT 10.0;', b'in64; x64) AppleWebKit/537.36 (', b'TML, like Gecko) Chrome/139.0.0.0 Safari/537.36 Edg/139.0.0.0\r\nAccept: tex']
Bad pipe message: %s [b'html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exch', b'ge;v=b3;q=0.7\r\nSec-Fetch-Site: none\r\nSec-Fetch-Mode: navigate\r\nSec-Fetch-User: ?1\r\nSec-Fetch-Des']
Bad pipe message: %s [b'ol: max-age=0\r\nsec-ch-ua: "Not;A=Brand";v="99", "Microsoft Edge";v="139", "Chromium";v="139"\r\nsec-ch-ua-mobile: ?0\r']
Bad pipe message: %s [b'ec-ch-ua-', b'atform: "Windows"\r\nUpgrade-Insecure-Requests: 1\r\nUser-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWeb']
Bad pipe message: %s [b't/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36 Edg/139.0.0.0\r', b'ccept: te', b'/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchang']

# สำรวจและทำความเข้าใจข้อมูล

In [3]:
print(df.head())
print(df.info())
print(df.describe())

   รหัสนักศึกษา      ชื่อ  อายุ   เพศ             คณะ   GPA  ส่วนสูง_cm  \
0         64001     สมชาย  20.0   ชาย     วิทยาศาสตร์  3.21       170.0
1         64002    สมหญิง  21.0  หญิง           วิทย์  3.45       165.0
2         64003       NaN   NaN  Male         Science  3.67       175.0
3         64004  สมศักดิ์  22.0     ช  คณะวิทยาศาสตร์ -1.00       168.0
4         64005      สมใจ  19.0     ญ           วิศวะ  3.89       160.0

   น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0        65.0                     15.0      2024-01-23
1        58.0                     20.0      2024-02-05
2         NaN                     25.0      2024-01-13
3        70.0                     10.0      2023-12-30
4        52.0                     30.0      2024-01-27
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   รหัสนักศึกษา             20 non-null     int64
 1   ชื่อ                     19 non-null     object
 2   อายุ                     17 non-null     float64
 3   เพศ                      18 non-null     object
 4   คณะ                      18 non-null     object
 5   GPA                      18 non-null     float64
 6   ส่วนสูง_cm               19 non-null     float64
 7   น้ำหนัก_kg               18 non-null     float64
 8   ชั่วโมงเรียน_ต่อสัปดาห์  18 non-null     float64
 9   วันที่ลงทะเบียน          20 non-null     object
dtypes: float64(5), int64(1), object(4)
memory usage: 1.7+ KB
None
       รหัสนักศึกษา        อายุ        GPA  ส่วนสูง_cm  น้ำหนัก_kg  \
count      20.00000   17.000000  18.000000   19.000000   18.000000
mean    64010.50000   28.470588   3.246111  167.684211   63.611111
std         5.91608   31.337114   1.123326    5.706260   10.279270
min     64001.00000   19.000000  -1.000000  158.000000   48.000000
25%     64005.75000   20.000000   3.215000  163.500000   55.250000
50%     64010.50000   21.000000   3.450000  168.000000   63.000000
75%     64015.25000   22.000000   3.670000  171.500000   71.500000
max     64020.00000  150.000000   4.500000  180.000000   82.000000

       ชั่วโมงเรียน_ต่อสัปดาห์
count                18.000000
mean                 21.388889
std                   6.598920
min                  10.000000
25%                  16.500000
50%                  21.500000
75%                  25.750000
max                  35.000000

# ทำความสะอาดข้อมูล

**วิธีที่ 1 ลบแถวที่มีค่าหายหรือลบแถวที่มีค่าว่างมากเกินไป**

In [4]:
f_clean = df.dropna()
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

**วิธีที่ 2 เติมค่าด้วยค่าเฉลี่ย**

In [5]:
print("ก่อนเติมค่า")
print(df)

mean_age = df['อายุ'].mean()
df['อายุ'].fillna(mean_age, inplace=True)

print(f"\nค่าเฉลี่ยอายุ - {mean_age:.1f} ปี")
print("หลังเติมค่า")
print(df)

ก่อนเติมค่า
    รหัสนักศึกษา      ชื่อ   อายุ     เพศ             คณะ   GPA  ส่วนสูง_cm  \
0          64001     สมชาย   20.0     ชาย     วิทยาศาสตร์  3.21       170.0
1          64002    สมหญิง   21.0    หญิง           วิทย์  3.45       165.0
2          64003       NaN    NaN    Male         Science  3.67       175.0
3          64004  สมศักดิ์   22.0       ช  คณะวิทยาศาสตร์ -1.00       168.0
4          64005      สมใจ   19.0       ญ           วิศวะ  3.89       160.0
5          64006     กานต์  150.0     ชาย     Engineering  3.12       172.0
6          64007     กิตติ   21.0    หญิง        วิศวกรรม  4.50       158.0
7          64008      จิรา   20.0       F      ศิลปศาสตร์  2.98       180.0
8          64009    ชนาธิป   23.0       M            Arts  3.34       163.0
9          64010      ดารา   21.0    หญิง           ศิลป์  3.56       167.0
10         64011      ธีระ    NaN     NaN             NaN  3.78         NaN
11         64012       นภา   22.0     ชาย           วิทย์   NaN       171.0
12         64013     บุญมี   20.0    หญิง           วิศวฯ  3.23       169.0
13         64014     ปรีชา   21.0     ชาย    Liberal Arts  3.45       164.0
14         64015     พิมพ์   22.0  Female             Sci  3.67       162.0
15         64016      ภูมิ   19.0       ช     วิทยาศาสตร์  3.89       173.0
16         64017      มานี   20.0       ญ  วิศวกรรมศาสตร์  3.01       166.0
17         64018      ยุพา   21.0    หญิง             NaN  3.23       161.0
18         64019     รัตนา    NaN     ชาย      ศิลปศาสตร์   NaN       174.0
19         64020     ลัดดา   22.0     NaN         Science  3.45       168.0

    น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0         65.0                     15.0      2024-01-23
1         58.0                     20.0      2024-02-05
2          NaN                     25.0      2024-01-13
3         70.0                     10.0      2023-12-30
4         52.0                     30.0      2024-01-27
5         75.0                     12.0      2023-12-23
6         48.0                     35.0      2024-01-05
7         82.0                     18.0      2024-01-23
8         55.0                     22.0      2024-02-11
9         60.0                     28.0      2024-01-03
10        68.0                      NaN      2024-01-07
11         NaN                     16.0      2023-12-26
12        72.0                     24.0      2023-12-26
13        54.0                     19.0      2024-01-08
14        56.0                     26.0      2024-02-06
15        78.0                     14.0      2024-01-20
16        62.0                     21.0      2024-01-24
17        50.0                     27.0      2024-01-08
18        76.0                      NaN      2023-12-18
19        64.0                     23.0      2024-01-06

ค่าเฉลี่ยอายุ - 28.5 ปี
หลังเติมค่า
    รหัสนักศึกษา      ชื่อ        อายุ     เพศ             คณะ   GPA  \
0          64001     สมชาย   20.000000     ชาย     วิทยาศาสตร์  3.21
1          64002    สมหญิง   21.000000    หญิง           วิทย์  3.45
2          64003       NaN   28.470588    Male         Science  3.67
3          64004  สมศักดิ์   22.000000       ช  คณะวิทยาศาสตร์ -1.00
4          64005      สมใจ   19.000000       ญ           วิศวะ  3.89
5          64006     กานต์  150.000000     ชาย     Engineering  3.12
6          64007     กิตติ   21.000000    หญิง        วิศวกรรม  4.50
7          64008      จิรา   20.000000       F      ศิลปศาสตร์  2.98
8          64009    ชนาธิป   23.000000       M            Arts  3.34
9          64010      ดารา   21.000000    หญิง           ศิลป์  3.56
10         64011      ธีระ   28.470588     NaN             NaN  3.78
11         64012       นภา   22.000000     ชาย           วิทย์   NaN
12         64013     บุญมี   20.000000    หญิง           วิศวฯ  3.23
13         64014     ปรีชา   21.000000     ชาย    Liberal Arts  3.45
14         64015     พิมพ์   22.000000  Female             Sci  3.67
15         64016      ภูมิ   19.000000       ช     วิทยาศาสตร์  3.89
16         64017      มานี   20.000000       ญ  วิศวกรรมศาสตร์  3.01
17         64018      ยุพา   21.000000    หญิง             NaN  3.23
18         64019     รัตนา   28.470588     ชาย      ศิลปศาสตร์   NaN
19         64020     ลัดดา   22.000000     NaN         Science  3.45

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0        170.0        65.0                     15.0      2024-01-23
1        165.0        58.0                     20.0      2024-02-05
2        175.0         NaN                     25.0      2024-01-13
3        168.0        70.0                     10.0      2023-12-30
4        160.0        52.0                     30.0      2024-01-27
5        172.0        75.0                     12.0      2023-12-23
6        158.0        48.0                     35.0      2024-01-05
7        180.0        82.0                     18.0      2024-01-23
8        163.0        55.0                     22.0      2024-02-11
9        167.0        60.0                     28.0      2024-01-03
10         NaN        68.0                      NaN      2024-01-07
11       171.0         NaN                     16.0      2023-12-26
12       169.0        72.0                     24.0      2023-12-26
13       164.0        54.0                     19.0      2024-01-08
14       162.0        56.0                     26.0      2024-02-06
15       173.0        78.0                     14.0      2024-01-20
16       166.0        62.0                     21.0      2024-01-24
17       161.0        50.0                     27.0      2024-01-08
18       174.0        76.0                      NaN      2023-12-18
19       168.0        64.0                     23.0      2024-01-06

**วิธีที่ 3 เติมค่าด้วยค่าที่พบบ่อยที่สุด**

In [6]:
print("ก่อนเติมค่า")
print(df)

df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)

print("\nหลังเติมค่า")
print(df)

ก่อนเติมค่า
    รหัสนักศึกษา      ชื่อ        อายุ     เพศ             คณะ   GPA  \
0          64001     สมชาย   20.000000     ชาย     วิทยาศาสตร์  3.21
1          64002    สมหญิง   21.000000    หญิง           วิทย์  3.45
2          64003       NaN   28.470588    Male         Science  3.67
3          64004  สมศักดิ์   22.000000       ช  คณะวิทยาศาสตร์ -1.00
4          64005      สมใจ   19.000000       ญ           วิศวะ  3.89
5          64006     กานต์  150.000000     ชาย     Engineering  3.12
6          64007     กิตติ   21.000000    หญิง        วิศวกรรม  4.50
7          64008      จิรา   20.000000       F      ศิลปศาสตร์  2.98
8          64009    ชนาธิป   23.000000       M            Arts  3.34
9          64010      ดารา   21.000000    หญิง           ศิลป์  3.56
10         64011      ธีระ   28.470588     NaN             NaN  3.78
11         64012       นภา   22.000000     ชาย           วิทย์   NaN
12         64013     บุญมี   20.000000    หญิง           วิศวฯ  3.23
13         64014     ปรีชา   21.000000     ชาย    Liberal Arts  3.45
14         64015     พิมพ์   22.000000  Female             Sci  3.67
15         64016      ภูมิ   19.000000       ช     วิทยาศาสตร์  3.89
16         64017      มานี   20.000000       ญ  วิศวกรรมศาสตร์  3.01
17         64018      ยุพา   21.000000    หญิง             NaN  3.23
18         64019     รัตนา   28.470588     ชาย      ศิลปศาสตร์   NaN
19         64020     ลัดดา   22.000000     NaN         Science  3.45

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0        170.0        65.0                     15.0      2024-01-23
1        165.0        58.0                     20.0      2024-02-05
2        175.0         NaN                     25.0      2024-01-13
3        168.0        70.0                     10.0      2023-12-30
4        160.0        52.0                     30.0      2024-01-27
5        172.0        75.0                     12.0      2023-12-23
6        158.0        48.0                     35.0      2024-01-05
7        180.0        82.0                     18.0      2024-01-23
8        163.0        55.0                     22.0      2024-02-11
9        167.0        60.0                     28.0      2024-01-03
10         NaN        68.0                      NaN      2024-01-07
11       171.0         NaN                     16.0      2023-12-26
12       169.0        72.0                     24.0      2023-12-26
13       164.0        54.0                     19.0      2024-01-08
14       162.0        56.0                     26.0      2024-02-06
15       173.0        78.0                     14.0      2024-01-20
16       166.0        62.0                     21.0      2024-01-24
17       161.0        50.0                     27.0      2024-01-08
18       174.0        76.0                      NaN      2023-12-18
19       168.0        64.0                     23.0      2024-01-06

หลังเติมค่า
    รหัสนักศึกษา      ชื่อ        อายุ     เพศ             คณะ   GPA  \
0          64001     สมชาย   20.000000     ชาย     วิทยาศาสตร์  3.21
1          64002    สมหญิง   21.000000    หญิง           วิทย์  3.45
2          64003       NaN   28.470588    Male         Science  3.67
3          64004  สมศักดิ์   22.000000       ช  คณะวิทยาศาสตร์ -1.00
4          64005      สมใจ   19.000000       ญ           วิศวะ  3.89
5          64006     กานต์  150.000000     ชาย     Engineering  3.12
6          64007     กิตติ   21.000000    หญิง        วิศวกรรม  4.50
7          64008      จิรา   20.000000       F      ศิลปศาสตร์  2.98
8          64009    ชนาธิป   23.000000       M            Arts  3.34
9          64010      ดารา   21.000000    หญิง           ศิลป์  3.56
10         64011      ธีระ   28.470588     NaN         Science  3.78
11         64012       นภา   22.000000     ชาย           วิทย์   NaN
12         64013     บุญมี   20.000000    หญิง           วิศวฯ  3.23
13         64014     ปรีชา   21.000000     ชาย    Liberal Arts  3.45
14         64015     พิมพ์   22.000000  Female             Sci  3.67
15         64016      ภูมิ   19.000000       ช     วิทยาศาสตร์  3.89
16         64017      มานี   20.000000       ญ  วิศวกรรมศาสตร์  3.01
17         64018      ยุพา   21.000000    หญิง         Science  3.23
18         64019     รัตนา   28.470588     ชาย      ศิลปศาสตร์   NaN
19         64020     ลัดดา   22.000000     NaN         Science  3.45

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0        170.0        65.0                     15.0      2024-01-23
1        165.0        58.0                     20.0      2024-02-05
2        175.0         NaN                     25.0      2024-01-13
3        168.0        70.0                     10.0      2023-12-30
4        160.0        52.0                     30.0      2024-01-27
5        172.0        75.0                     12.0      2023-12-23
6        158.0        48.0                     35.0      2024-01-05
7        180.0        82.0                     18.0      2024-01-23
8        163.0        55.0                     22.0      2024-02-11
9        167.0        60.0                     28.0      2024-01-03
10         NaN        68.0                      NaN      2024-01-07
11       171.0         NaN                     16.0      2023-12-26
12       169.0        72.0                     24.0      2023-12-26
13       164.0        54.0                     19.0      2024-01-08
14       162.0        56.0                     26.0      2024-02-06
15       173.0        78.0                     14.0      2024-01-20
16       166.0        62.0                     21.0      2024-01-24
17       161.0        50.0                     27.0      2024-01-08
18       174.0        76.0                      NaN      2023-12-18
19       168.0        64.0                     23.0      2024-01-06

# แปลงข้อมูลให้เหมาะสม

**ทำให้ชื่อคณะเป็นมาตรฐานเดียวกัน**

In [7]:
def standardize_faculty(name):
    if name in ['วิทยาศาสตร์', 'คณะวิทยาศาสตร์', 'วิทย์', 'Science', 'Sci']:
        return 'วิทยาศาสตร์'
    elif name in ['วิศวกรรมศาสตร์', 'วิศวกรรม', 'วิศวฯ', 'วิศวะ', 'Engineering']:
        return 'วิศวกรรมศาสตร์'
    elif name in ['ศิลปศาสตร์', 'ศิลป์', 'Liberal Arts', 'Arts']:
        return 'ศิลปศาสตร์'
    else:
        return name


df['คณะ'] = df['คณะ'].apply(standardize_faculty)


df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)

**เปลี่ยนชื่อเพศให้เหมือนกัน**

In [8]:
def standardize_faculty(name):
    if name in ['ชาย', 'ช', 'Male', 'M']:
        return 'ชาย'
    elif name in ['หญิง', 'ญ', 'Female', 'F']:
        return 'หญิง'
    else:
        return name

df['เพศ'] = df['เพศ'].apply(standardize_faculty)

df['เพศ'].fillna(df['เพศ'].mode()[0], inplace=True)

**สมมติมีคอลัมน์ 'วันที่ลงทะเบียน' เป็น string แปลงเป็น datetime**

In [9]:
df['วันที่ลงทะเบียน'] = pd.to_datetime(df['วันที่ลงทะเบียน'])

df['ปี'] = df['วันที่ลงทะเบียน'].dt.year
df['เดือน'] = df['วันที่ลงทะเบียน'].dt.month
df['วัน'] = df['วันที่ลงทะเบียน'].dt.day
df['ชื่อวัน'] = df['วันที่ลงทะเบียน'].dt.day_name()
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,ปี,เดือน,วัน,ชื่อวัน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23,2024,1,23,Tuesday
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20.0,2024-02-05,2024,2,5,Monday
2,64003,NaN,28.470588,ชาย,วิทยาศาสตร์,3.67,175.0,NaN,25.0,2024-01-13,2024,1,13,Saturday
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30,2023,12,30,Saturday
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30.0,2024-01-27,2024,1,27,Saturday
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.12,172.0,75.0,12.0,2023-12-23,2023,12,23,Saturday
6,64007,กิตติ,21.000000,หญิง,วิศวกรรมศาสตร์,4.50,158.0,48.0,35.0,2024-01-05,2024,1,5,Friday
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23,2024,1,23,Tuesday
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22.0,2024-02-11,2024,2,11,Sunday
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28.0,2024-01-03,2024,1,3,Wednesday
10,64011,ธีระ,28.470588,ชาย,วิทยาศาสตร์,3.78,NaN,68.0,NaN,2024-01-07,2024,1,7,Sunday
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,NaN,171.0,NaN,16.0,2023-12-26,2023,12,26,Tuesday
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24.0,2023-12-26,2023,12,26,Tuesday
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19.0,2024-01-08,2024,1,8,Monday
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26.0,2024-02-06,2024,2,6,Tuesday
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20,2024,1,20,Saturday
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24,2024,1,24,Wednesday
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.23,161.0,50.0,27.0,2024-01-08,2024,1,8,Monday
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18,2023,12,18,Monday
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.45,168.0,64.0,23.0,2024-01-06,2024,1,6,Saturday

**ค่าต่ำสุด-สูงสุดของส่วนสูงและน้ำหนัก**

In [10]:
max_height = df['ส่วนสูง_cm'].max()
min_height = df['ส่วนสูง_cm'].min()

print(f"ส่วนสูง_cm: สูงสุด = {max_height}, ต่ำสุด = {min_height}")


mean_cm = df['ส่วนสูง_cm'].mean()


df['ส่วนสูง_cm'].fillna(mean_cm, inplace=True)


max_weight = df['น้ำหนัก_kg'].max()
min_weight = df['น้ำหนัก_kg'].min()

print(f"น้ำหนัก_kg: สูงสุด = {max_weight}, ต่ำสุด = {min_weight}")

ส่วนสูง_cm: สูงสุด = 180.0, ต่ำสุด = 158.0
น้ำหนัก_kg: สูงสุด = 82.0, ต่ำสุด = 48.0

# การจัดการค่าผิดปกติ


**ใช้ IQR (Interquartile Range)**

In [11]:
Q1 = df['อายุ'].quantile(0.25)
Q3 = df['อายุ'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_no_outliers = df[(df['อายุ'] >= lower_bound) & (df['อายุ'] <= upper_bound)]

print(f"\nขอบเขตล่าง - {lower_bound}")
print(f"ขอบเขตบน - {upper_bound}")
print(f"\nข้อมูลหลังกรองค่าผิดปกติ")
print(df_no_outliers)
print(f"\nค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) = {df_no_outliers['อายุ'].mean():.2f}")

ขอบเขตล่าง - 16.625
ขอบเขตบน - 25.625

ข้อมูลหลังกรองค่าผิดปกติ
    รหัสนักศึกษา      ชื่อ  อายุ   เพศ             คณะ   GPA  ส่วนสูง_cm  \
0          64001     สมชาย  20.0   ชาย     วิทยาศาสตร์  3.21       170.0
1          64002    สมหญิง  21.0  หญิง     วิทยาศาสตร์  3.45       165.0
3          64004  สมศักดิ์  22.0   ชาย     วิทยาศาสตร์ -1.00       168.0
4          64005      สมใจ  19.0  หญิง  วิศวกรรมศาสตร์  3.89       160.0
6          64007     กิตติ  21.0  หญิง  วิศวกรรมศาสตร์  4.50       158.0
7          64008      จิรา  20.0  หญิง      ศิลปศาสตร์  2.98       180.0
8          64009    ชนาธิป  23.0   ชาย      ศิลปศาสตร์  3.34       163.0
9          64010      ดารา  21.0  หญิง      ศิลปศาสตร์  3.56       167.0
11         64012       นภา  22.0   ชาย     วิทยาศาสตร์   NaN       171.0
12         64013     บุญมี  20.0  หญิง  วิศวกรรมศาสตร์  3.23       169.0
13         64014     ปรีชา  21.0   ชาย      ศิลปศาสตร์  3.45       164.0
14         64015     พิมพ์  22.0  หญิง     วิทยาศาสตร์  3.67       162.0
15         64016      ภูมิ  19.0   ชาย     วิทยาศาสตร์  3.89       173.0
16         64017      มานี  20.0  หญิง  วิศวกรรมศาสตร์  3.01       166.0
17         64018      ยุพา  21.0  หญิง     วิทยาศาสตร์  3.23       161.0
19         64020     ลัดดา  22.0   ชาย     วิทยาศาสตร์  3.45       168.0

    น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน    ปี  เดือน  วัน  \
0         65.0                     15.0      2024-01-23  2024      1   23
1         58.0                     20.0      2024-02-05  2024      2    5
3         70.0                     10.0      2023-12-30  2023     12   30
4         52.0                     30.0      2024-01-27  2024      1   27
6         48.0                     35.0      2024-01-05  2024      1    5
7         82.0                     18.0      2024-01-23  2024      1   23
8         55.0                     22.0      2024-02-11  2024      2   11
9         60.0                     28.0      2024-01-03  2024      1    3
11         NaN                     16.0      2023-12-26  2023     12   26
12        72.0                     24.0      2023-12-26  2023     12   26
13        54.0                     19.0      2024-01-08  2024      1    8
14        56.0                     26.0      2024-02-06  2024      2    6
15        78.0                     14.0      2024-01-20  2024      1   20
16        62.0                     21.0      2024-01-24  2024      1   24
17        50.0                     27.0      2024-01-08  2024      1    8
19        64.0                     23.0      2024-01-06  2024      1    6

      ชื่อวัน
0     Tuesday
1      Monday
3    Saturday
4    Saturday
6      Friday
7     Tuesday
8      Sunday
9   Wednesday
11    Tuesday
12    Tuesday
13     Monday
14    Tuesday
15   Saturday
16  Wednesday
17     Monday
19   Saturday

ค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) = 20.88

# สร้าง features ใหม่

**สร้าง Feature BMI ถ้ามีคอลัมน์ น้ำหนัก_kg และ ส่วนสูง_cm**

In [12]:
df['BMI'] = df['น้ำหนัก_kg'] / (df['ส่วนสูง_cm']/100)**2
df['สุขภาพ'] = pd.cut(df['BMI'],bins=[0, 18.5, 25, 30, 100],
                                labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

print(df[['ชื่อ', 'BMI', 'สุขภาพ']])

        ชื่อ        BMI สุขภาพ
0      สมชาย  22.491349   ปกติ
1     สมหญิง  21.303949   ปกติ
2        NaN        NaN    NaN
3   สมศักดิ์  24.801587   ปกติ
4       สมใจ  20.312500   ปกติ
5      กานต์  25.351541   อ้วน
6      กิตติ  19.227688   ปกติ
7       จิรา  25.308642   อ้วน
8     ชนาธิป  20.700817   ปกติ
9       ดารา  21.513859   ปกติ
10      ธีระ  24.183802   ปกติ
11       นภา        NaN    NaN
12     บุญมี  25.209201   อ้วน
13     ปรีชา  20.077335   ปกติ
14     พิมพ์  21.338211   ปกติ
15      ภูมิ  26.061679   อ้วน
16      มานี  22.499637   ปกติ
17      ยุพา  19.289379   ปกติ
18     รัตนา  25.102391   อ้วน
19     ลัดดา  22.675737   ปกติ

**One-Hot Encoding แปลงข้อมูลประเภทเป็นตัวเลข**

In [13]:
print(df['คณะ'].unique())
data_encoded = pd.get_dummies(df, columns=['คณะ'])
print(data_encoded)

['วิทยาศาสตร์' 'วิศวกรรมศาสตร์' 'ศิลปศาสตร์']
    รหัสนักศึกษา      ชื่อ        อายุ   เพศ   GPA  ส่วนสูง_cm  น้ำหนัก_kg  \
0          64001     สมชาย   20.000000   ชาย  3.21  170.000000        65.0
1          64002    สมหญิง   21.000000  หญิง  3.45  165.000000        58.0
2          64003       NaN   28.470588   ชาย  3.67  175.000000         NaN
3          64004  สมศักดิ์   22.000000   ชาย -1.00  168.000000        70.0
4          64005      สมใจ   19.000000  หญิง  3.89  160.000000        52.0
5          64006     กานต์  150.000000   ชาย  3.12  172.000000        75.0
6          64007     กิตติ   21.000000  หญิง  4.50  158.000000        48.0
7          64008      จิรา   20.000000  หญิง  2.98  180.000000        82.0
8          64009    ชนาธิป   23.000000   ชาย  3.34  163.000000        55.0
9          64010      ดารา   21.000000  หญิง  3.56  167.000000        60.0
10         64011      ธีระ   28.470588   ชาย  3.78  167.684211        68.0
11         64012       นภา   22.000000   ชาย   NaN  171.000000         NaN
12         64013     บุญมี   20.000000  หญิง  3.23  169.000000        72.0
13         64014     ปรีชา   21.000000   ชาย  3.45  164.000000        54.0
14         64015     พิมพ์   22.000000  หญิง  3.67  162.000000        56.0
15         64016      ภูมิ   19.000000   ชาย  3.89  173.000000        78.0
16         64017      มานี   20.000000  หญิง  3.01  166.000000        62.0
17         64018      ยุพา   21.000000  หญิง  3.23  161.000000        50.0
18         64019     รัตนา   28.470588   ชาย   NaN  174.000000        76.0
19         64020     ลัดดา   22.000000   ชาย  3.45  168.000000        64.0

    ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน    ปี  เดือน  วัน    ชื่อวัน  \
0                      15.0      2024-01-23  2024      1   23    Tuesday
1                      20.0      2024-02-05  2024      2    5     Monday
2                      25.0      2024-01-13  2024      1   13   Saturday
3                      10.0      2023-12-30  2023     12   30   Saturday
4                      30.0      2024-01-27  2024      1   27   Saturday
5                      12.0      2023-12-23  2023     12   23   Saturday
6                      35.0      2024-01-05  2024      1    5     Friday
7                      18.0      2024-01-23  2024      1   23    Tuesday
8                      22.0      2024-02-11  2024      2   11     Sunday
9                      28.0      2024-01-03  2024      1    3  Wednesday
10                      NaN      2024-01-07  2024      1    7     Sunday
11                     16.0      2023-12-26  2023     12   26    Tuesday
12                     24.0      2023-12-26  2023     12   26    Tuesday
13                     19.0      2024-01-08  2024      1    8     Monday
14                     26.0      2024-02-06  2024      2    6    Tuesday
15                     14.0      2024-01-20  2024      1   20   Saturday
16                     21.0      2024-01-24  2024      1   24  Wednesday
17                     27.0      2024-01-08  2024      1    8     Monday
18                      NaN      2023-12-18  2023     12   18     Monday
19                     23.0      2024-01-06  2024      1    6   Saturday

          BMI สุขภาพ  คณะ_วิทยาศาสตร์  คณะ_วิศวกรรมศาสตร์  คณะ_ศิลปศาสตร์
0   22.491349   ปกติ             True               False           False
1   21.303949   ปกติ             True               False           False
2         NaN    NaN             True               False           False
3   24.801587   ปกติ             True               False           False
4   20.312500   ปกติ            False                True           False
5   25.351541   อ้วน            False                True           False
6   19.227688   ปกติ            False                True           False
7   25.308642   อ้วน            False               False            True
8   20.700817   ปกติ            False               False            True
9   21.513859   ปกติ            False               False            True
10  24.183802   ปกติ             True               False           False
11        NaN    NaN             True               False           False
12  25.209201   อ้วน            False                True           False
13  20.077335   ปกติ            False               False            True
14  21.338211   ปกติ             True               False           False
15  26.061679   อ้วน             True               False           False
16  22.499637   ปกติ            False                True           False
17  19.289379   ปกติ             True               False           False
18  25.102391   อ้วน            False               False            True
19  22.675737   ปกติ             True               False           False

# ตรวจสอบความถูกต้อง

**ตรวจสอบค่าที่ผิดปกติใน BMI**

In [14]:
if 'BMI' in df.columns:
  print('BMI min:', df['BMI'].min())
  print('BMI max:', df['BMI'].max())

BMI min: 19.227687870533565
BMI max: 26.061679307694877

**ตรวจสอบค่าที่ผิดปกติใน GPA**

In [15]:
print(f"- GPA ผิดปกติ  {df[(df['GPA'] < 0) | (df['GPA'] > 4)]['GPA'].tolist()}")


mean_gpa = df['GPA'].mean()


df.loc[df['GPA'] < 0, 'GPA'] = np.nan
df.loc[df['GPA'] > 4, 'GPA'] = 4.0


df['GPA'].fillna(mean_gpa, inplace=True)

- GPA ผิดปกติ  [-1.0, 4.5]

**ตรวจสอบหลังการทำความสะอาด**

In [16]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,ปี,เดือน,วัน,ชื่อวัน,BMI,สุขภาพ
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.0,15.0,2024-01-23,2024,1,23,Tuesday,22.491349,ปกติ
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.0,20.0,2024-02-05,2024,2,5,Monday,21.303949,ปกติ
2,64003,NaN,28.470588,ชาย,วิทยาศาสตร์,3.670000,175.000000,NaN,25.0,2024-01-13,2024,1,13,Saturday,NaN,NaN
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,3.246111,168.000000,70.0,10.0,2023-12-30,2023,12,30,Saturday,24.801587,ปกติ
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.0,30.0,2024-01-27,2024,1,27,Saturday,20.312500,ปกติ
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.0,12.0,2023-12-23,2023,12,23,Saturday,25.351541,อ้วน
6,64007,กิตติ,21.000000,หญิง,วิศวกรรมศาสตร์,4.000000,158.000000,48.0,35.0,2024-01-05,2024,1,5,Friday,19.227688,ปกติ
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.0,18.0,2024-01-23,2024,1,23,Tuesday,25.308642,อ้วน
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.0,22.0,2024-02-11,2024,2,11,Sunday,20.700817,ปกติ
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.0,28.0,2024-01-03,2024,1,3,Wednesday,21.513859,ปกติ
10,64011,ธีระ,28.470588,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.0,NaN,2024-01-07,2024,1,7,Sunday,24.183802,ปกติ
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.246111,171.000000,NaN,16.0,2023-12-26,2023,12,26,Tuesday,NaN,NaN
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.0,24.0,2023-12-26,2023,12,26,Tuesday,25.209201,อ้วน
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.0,19.0,2024-01-08,2024,1,8,Monday,20.077335,ปกติ
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.0,26.0,2024-02-06,2024,2,6,Tuesday,21.338211,ปกติ
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.0,14.0,2024-01-20,2024,1,20,Saturday,26.061679,อ้วน
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.0,21.0,2024-01-24,2024,1,24,Wednesday,22.499637,ปกติ
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.0,27.0,2024-01-08,2024,1,8,Monday,19.289379,ปกติ
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.0,NaN,2023-12-18,2023,12,18,Monday,25.102391,อ้วน
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.0,23.0,2024-01-06,2024,1,6,Saturday,22.675737,ปกติ